# load data

In [ ]:
#https://www.kaggle.com/felipekitamura/head-ct-hemorrhage

In [1]:
# 
# from glob import glob
# import os
# for i,j in enumerate(glob('../dataset/head_ct/*.png')):
#     os.rename(j, j[0:-7]+'{}.png'.format(i))

In [2]:
import pandas as pd
data=pd.read_csv('../dataset/head_ct_labels.csv')
data.columns=['img','label']
data.img='../dataset/head_ct/'+data.img.astype(str)+'.png'
data = data.sample(frac=1).reset_index(drop=True)
data.head()

                          img  label
0  ../dataset/head_ct/174.png      0
1   ../dataset/head_ct/14.png      1
2  ../dataset/head_ct/182.png      0
3  ../dataset/head_ct/188.png      0
4  ../dataset/head_ct/136.png      0

# top 5 lightest models in torchvision
1	squeezenet1_1	1235496  
2	shufflenet_v2_x0_5	1366792  
3	mnasnet0_5	2218512  
4	mobilenet_v2	3504872  
5	densenet121	7978856  `

In [3]:
import sys
sys.path.append("../src")

In [4]:
from models.squeezenet import squeezenet1_1
from models.mymodels import mymodel4
from models.shufflenet import shufflenet_v2_x0_5
from models.mnastnet import mnasnet0_5
from models.densenet import densenet121
from models.mobilenet import mobilenet
from cross_vals import kfoldcv

In [5]:
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)/1e6

In [6]:
print('MyNet parameters :' ,count_parameters(mymodel4()))
print('SqueezeNet parameters :', count_parameters(squeezenet1_1()))
print('ShuffleNet parameters :', count_parameters(shufflenet_v2_x0_5()))
print('MnastNet parameters :', count_parameters(mnasnet0_5()))
print('MobileNet parameters :', count_parameters(mobilenet()))
print('DenseNet parameters :', count_parameters(densenet121()))

MyNet parameters : 0.774768
SqueezeNet parameters : 0.984
ShuffleNet parameters : 0.86616
MnastNet parameters : 1.593096
MobileNet parameters : 2.879168
DenseNet parameters : 7.472384

In [7]:
epoch=25
batchsize=8
lr=0.001

# MyNet

In [8]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel4(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.890   0.812     0.848
Class 1       0.834   0.902     0.864
macro         0.864   0.856     0.854
weighted      0.866   0.860     0.858
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.892   0.826     0.854
Class 1       0.842   0.902     0.868
macro         0.864   0.862     0.862
weighted      0.868   0.866     0.866
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.856   0.848     0.848
Class 1       0.850   0.868     0.856
macro         0.854   0.856     0.852
weighted      0.860   0.852     0.854
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.862   0.852     0.856
Class 1       0.862   0.878     0.868
macro         0.864   0.864     0.862
weighted      0.870   0.866     0.864
--------------------------Accuracy Table-----------------------------------
Wall time: 12min 56s

        DT    SVM     LR    KNN
0     0.88   0.85   0.90   0.90
1     0.85   0.85   0.82   0.82
2     0.82   0.90   0.82   0.88
3     0.82   0.85   0.82   0.80
4     0.93   0.88   0.90   0.93
mean  0.86  0.866  0.852  0.866

In [9]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel4(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.780   0.792     0.786
Class 1       0.780   0.768     0.774
macro         0.782   0.778     0.780
weighted      0.786   0.784     0.784
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.786   0.822     0.802
Class 1       0.810   0.768     0.786
macro         0.798   0.794     0.796
weighted      0.802   0.800     0.800
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.808   0.760     0.772
Class 1       0.774   0.818     0.784
macro         0.792   0.790     0.776
weighted      0.802   0.780     0.780
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.784   0.856     0.820
Class 1       0.830   0.758     0.792
macro         0.806   0.808     0.802
weighted      0.816   0.810     0.812
--------------------------Accuracy Table-----------------------------------
Wall time: 12min 7s

         DT   SVM    LR   KNN
0      0.82  0.85  0.88  0.82
1      0.82  0.82  0.82  0.88
2      0.60  0.65  0.68  0.62
3      0.90  0.90  0.90  0.93
4      0.78  0.78  0.62  0.80
mean  0.784   0.8  0.78  0.81

# SqueezeNet

In [10]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.528   0.490     0.482
Class 1       0.498   0.528     0.490
macro         0.512   0.510     0.486
weighted      0.524   0.494     0.482
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.518   0.482     0.486
Class 1       0.522   0.560     0.530
macro         0.522   0.522     0.510
weighted      0.536   0.516     0.512
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.540   0.494     0.494
Class 1       0.534   0.576     0.536
macro         0.536   0.534     0.514
weighted      0.552   0.520     0.514
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.486   0.504     0.484
Class 1       0.484   0.472     0.466
macro         0.482   0.484     0.476
weighted      0.494   0.484     0.480
--------------------------Accuracy Table-----------------------------------
Wall time: 14min 11s

         DT    SVM     LR    KNN
0      0.50   0.60   0.65   0.45
1      0.40   0.50   0.53   0.30
2      0.53   0.50   0.45   0.50
3      0.57   0.45   0.48   0.57
4      0.48   0.53   0.50   0.60
mean  0.496  0.516  0.522  0.484

In [11]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.576   0.452     0.488
Class 1       0.542   0.656     0.580
macro         0.558   0.552     0.536
weighted      0.570   0.540     0.532
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.532   0.496     0.512
Class 1       0.520   0.556     0.532
macro         0.524   0.524     0.522
weighted      0.538   0.530     0.530
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.524   0.462     0.484
Class 1       0.520   0.580     0.540
macro         0.520   0.520     0.508
weighted      0.532   0.510     0.514
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.498   0.592     0.542
Class 1       0.490   0.400     0.438
macro         0.494   0.496     0.488
weighted      0.504   0.500     0.498
--------------------------Accuracy Table-----------------------------------
Wall time: 12min 33s

        DT   SVM     LR   KNN
0     0.55  0.40   0.48  0.55
1     0.55  0.57   0.62  0.53
2     0.50  0.68   0.57  0.50
3     0.57  0.50   0.48  0.35
4     0.53  0.50   0.42  0.57
mean  0.54  0.53  0.514   0.5

# ShuffleNet

In [12]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.552   0.468     0.490
Class 1       0.532   0.602     0.552
macro         0.544   0.536     0.522
weighted      0.554   0.528     0.524
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.496   0.508     0.498
Class 1       0.504   0.490     0.492
macro         0.500   0.500     0.496
weighted      0.510   0.500     0.502
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.468   0.484     0.468
Class 1       0.476   0.462     0.460
macro         0.474   0.474     0.466
weighted      0.486   0.474     0.470
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.470   0.562     0.508
Class 1       0.462   0.368     0.404
macro         0.464   0.464     0.456
weighted      0.480   0.470     0.466
--------------------------Accuracy Table-----------------------------------
Wall time: 17min 18s

        DT    SVM     LR   KNN
0     0.57   0.65   0.45  0.62
1     0.55   0.48   0.45  0.53
2     0.50   0.40   0.48  0.42
3     0.55   0.45   0.48  0.38
4     0.48   0.53   0.53  0.40
mean  0.53  0.502  0.478  0.47

In [13]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.540   0.684     0.594
Class 1       0.564   0.404     0.452
macro         0.550   0.546     0.522
weighted      0.562   0.538     0.526
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.534   0.628     0.562
Class 1       0.580   0.462     0.486
macro         0.556   0.542     0.522
weighted      0.570   0.534     0.524
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.540   0.574     0.542
Class 1       0.568   0.534     0.536
macro         0.558   0.552     0.536
weighted      0.568   0.538     0.536
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.508   0.546     0.508
Class 1       0.568   0.534     0.526
macro         0.536   0.538     0.518
weighted      0.546   0.530     0.516
--------------------------Accuracy Table-----------------------------------
Wall time: 17min 51s

         DT    SVM    LR   KNN
0      0.55   0.57  0.57  0.57
1      0.65   0.53  0.55  0.53
2      0.45   0.50  0.48  0.60
3      0.42   0.65  0.68  0.60
4      0.62   0.42  0.42  0.35
mean  0.538  0.534  0.54  0.53

# Mnasnet

In [14]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.532   0.578     0.552
Class 1       0.530   0.486     0.502
macro         0.530   0.532     0.524
weighted      0.540   0.528     0.530
------------------ SVM ----------------
          precision  recall  f1-score
Class 0        0.53   0.562     0.538
Class 1        0.53   0.498     0.504
macro          0.53   0.530     0.520
weighted       0.54   0.524     0.524
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.528   0.464     0.488
Class 1       0.528   0.590     0.546
macro         0.526   0.528     0.516
weighted      0.540   0.520     0.518
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.508   0.624     0.552
Class 1       0.540   0.412     0.458
macro         0.526   0.520     0.506
weighted      0.540   0.512     0.506
--------------------------Accuracy Table-----------------------------------
Wall time: 17min 10s

         DT    SVM    LR    KNN
0      0.55   0.42  0.40   0.53
1      0.42   0.53  0.55   0.65
2      0.57   0.57  0.55   0.48
3      0.55   0.55  0.53   0.53
4      0.55   0.55  0.57   0.38
mean  0.528  0.524  0.52  0.514

In [15]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.518   0.550     0.530
Class 1       0.500   0.472     0.484
macro         0.510   0.512     0.508
weighted      0.522   0.524     0.522
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.574   0.574     0.570
Class 1       0.574   0.574     0.568
macro         0.574   0.574     0.566
weighted      0.586   0.570     0.572
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.556   0.552     0.552
Class 1       0.556   0.558     0.554
macro         0.554   0.556     0.552
weighted      0.566   0.558     0.560
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.556   0.614     0.582
Class 1       0.564   0.506     0.528
macro         0.562   0.562     0.554
weighted      0.572   0.560     0.558
--------------------------Accuracy Table-----------------------------------
Wall time: 16min 44s

         DT   SVM     LR    KNN
0      0.50  0.60   0.50   0.68
1      0.62  0.57   0.57   0.45
2      0.55  0.62   0.62   0.65
3      0.42  0.53   0.50   0.48
4      0.53  0.53   0.60   0.55
mean  0.524  0.57  0.558  0.562

# MobileNet

In [16]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.486   0.366     0.406
Class 1       0.492   0.618     0.538
macro         0.492   0.492     0.472
weighted      0.500   0.490     0.478
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.530   0.480     0.488
Class 1       0.508   0.552     0.512
macro         0.518   0.516     0.498
weighted      0.530   0.508     0.502
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.534   0.498     0.502
Class 1       0.516   0.552     0.520
macro         0.524   0.524     0.512
weighted      0.536   0.516     0.512
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.488   0.568     0.512
Class 1       0.496   0.408     0.428
macro         0.492   0.488     0.472
weighted      0.506   0.480     0.472
--------------------------Accuracy Table-----------------------------------
Wall time: 17min 8s

        DT    SVM     LR   KNN
0     0.45   0.38   0.38  0.57
1     0.53   0.55   0.55  0.45
2     0.50   0.55   0.57  0.55
3     0.57   0.53   0.53  0.38
4     0.40   0.53   0.55  0.45
mean  0.49  0.508  0.516  0.48

In [17]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.526   0.564     0.542
Class 1       0.520   0.484     0.498
macro         0.524   0.526     0.520
weighted      0.534   0.526     0.530
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.498   0.614     0.548
Class 1       0.484   0.368     0.414
macro         0.492   0.494     0.482
weighted      0.502   0.494     0.488
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.524   0.604     0.554
Class 1       0.512   0.434     0.466
macro         0.520   0.518     0.510
weighted      0.530   0.522     0.518
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.518   0.554     0.530
Class 1       0.560   0.508     0.526
macro         0.540   0.534     0.528
weighted      0.548   0.534     0.534
--------------------------Accuracy Table-----------------------------------
Wall time: 16min 43s

        DT    SVM     LR    KNN
0     0.48   0.65   0.57   0.60
1     0.62   0.40   0.42   0.38
2     0.50   0.50   0.50   0.73
3     0.57   0.42   0.57   0.42
4     0.48   0.50   0.55   0.55
mean  0.53  0.494  0.522  0.536

# DenseNet121

In [18]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.698   0.726     0.700
Class 1       0.712   0.668     0.676
macro         0.708   0.694     0.688
weighted      0.714   0.702     0.698
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.848   0.826     0.834
Class 1       0.824   0.842     0.832
macro         0.834   0.834     0.832
weighted      0.840   0.834     0.836
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.804   0.758     0.778
Class 1       0.770   0.814     0.788
macro         0.786   0.786     0.782
weighted      0.792   0.788     0.782
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.796   0.824     0.806
Class 1       0.810   0.774     0.786
macro         0.800   0.796     0.794
weighted      0.806   0.802     0.798
--------------------------Accuracy Table-----------------------------------
Wall time: 28min 29s

         DT    SVM     LR    KNN
0      0.82   0.95   0.93   0.93
1      0.82   0.88   0.88   0.88
2      0.55   0.80   0.65   0.70
3      0.62   0.82   0.78   0.75
4      0.70   0.73   0.70   0.75
mean  0.702  0.836  0.788  0.802

In [19]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.708   0.722     0.702
Class 1       0.728   0.698     0.702
macro         0.718   0.710     0.702
weighted      0.728   0.706     0.706
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.850   0.828     0.834
Class 1       0.836   0.844     0.834
macro         0.842   0.834     0.836
weighted      0.846   0.842     0.840
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.834   0.838     0.830
Class 1       0.842   0.826     0.830
macro         0.838   0.830     0.830
weighted      0.842   0.834     0.832
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.752   0.796     0.764
Class 1       0.776   0.710     0.732
macro         0.760   0.750     0.748
weighted      0.770   0.754     0.752
--------------------------Accuracy Table-----------------------------------
Wall time: 28min 2s

         DT    SVM     LR    KNN
0      0.82   0.85   0.88   0.73
1      0.68   0.85   0.82   0.80
2      0.53   0.88   0.82   0.73
3      0.85   0.85   0.85   0.85
4      0.65   0.78   0.80   0.68
mean  0.706  0.842  0.834  0.758