# load data

In [1]:
from glob import glob
import os
images=[]
labels=[]
for folder in os.listdir('../dataset'):
    for pic in glob('../dataset/{}/*.jpg'.format(folder)):
        images.append(pic)
        labels.append(folder)

In [2]:
import pandas as pd
data=pd.DataFrame(zip(images,labels),columns=['img','label'])
data.label=data.label.map({'Fracture':0,'Normal':1})
data = data.sample(frac=1).reset_index(drop=True)
data.head()

                                        img  label
0                  ../dataset/Normal\42.jpg      1
1                  ../dataset/Normal\24.jpg      1
2                  ../dataset/Normal\79.jpg      1
3   ../dataset/Fracture\8 Male (A View).jpg      0
4  ../dataset/Fracture\32 Male (A View).jpg      0

# top 5 lightest models in torchvision
1	squeezenet1_1	1235496  
2	shufflenet_v2_x0_5	1366792  
3	mnasnet0_5	2218512  
4	mobilenet_v2	3504872  
5	densenet121	7978856  `

In [3]:
from models.squeezenet import squeezenet1_1
from models.mymodels import mymodel,mymodel1
from models.shufflenet import shufflenet_v2_x0_5
from models.mnastnet import mnasnet0_5
from models.densenet import densenet121
from models.mobilenet import mobilenet
from cross_vals import kfoldcv

In [4]:
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)/1e6

In [5]:
print('MyNet parameters :' ,count_parameters(mymodel()))
print('SqueezeNet parameters :', count_parameters(squeezenet1_1()))
print('ShuffleNet parameters :', count_parameters(shufflenet_v2_x0_5()))
print('MnastNet parameters :', count_parameters(mnasnet0_5()))
print('MobileNet parameters :', count_parameters(mobilenet()))
print('DenseNet parameters :', count_parameters(densenet121()))

MyNet parameters : 0.774768
SqueezeNet parameters : 0.984
ShuffleNet parameters : 0.86616
MnastNet parameters : 1.593096
MobileNet parameters : 2.879168
DenseNet parameters : 7.472384

In [6]:
#batch 32 lr 0.001 epoch 50 -->0.948
#batch 32 lr 0.0001 epoch 50 --> bad
#batch 32 lr 0.01 epoch 50 --> too bad
#batch 16 lr 0.001 epoch 50 --> 95.8
#batch 16 lr 0.0001 epoch 50 --> 
#batch 16 lr 0.01 epoch 50 -->

# MyNet

In [7]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel1(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=False)

Wall time: 15min 51s

In [8]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.968   0.958     0.964
Normal        0.960   0.970     0.964
macro         0.964   0.966     0.964
weighted      0.966   0.964     0.964
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.968   0.968     0.968
Normal        0.970   0.970     0.970
macro         0.970   0.970     0.970
weighted      0.970   0.970     0.970
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.960   0.968     0.964
Normal        0.968   0.960     0.964
macro         0.964   0.964     0.964
weighted      0.964   0.964     0.964
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.966   0.948     0.958
Normal        0.952   0.970     0.960
macro         0.958   0.960     0.958
weighted      0.960   0.958     0.958

In [9]:
#aacuracy
clf_report[1]

         DT   SVM     LR    KNN
0      0.85  0.85   0.82   0.82
1      0.97  1.00   1.00   0.97
2      1.00  1.00   1.00   1.00
3      1.00  1.00   1.00   1.00
4      1.00  1.00   1.00   1.00
mean  0.964  0.97  0.964  0.958

# SqueezeNet

In [10]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=False)

Wall time: 17min 46s

In [11]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.968   0.958     0.964
Normal        0.960   0.970     0.964
macro         0.964   0.966     0.964
weighted      0.966   0.964     0.964
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.948   0.978     0.962
Normal        0.976   0.940     0.956
macro         0.962   0.960     0.958
weighted      0.962   0.958     0.958
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.932   0.948     0.940
Normal        0.946   0.928     0.936
macro         0.940   0.938     0.938
weighted      0.938   0.938     0.938
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.952   0.958     0.954
Normal        0.960   0.946     0.952
macro         0.954   0.952     0.954
weighted      0.954   0.954     0.954

In [12]:
#aacuracy
clf_report[1]

         DT    SVM     LR    KNN
0      0.85   0.79   0.77   0.87
1      0.97   1.00   0.92   0.90
2      1.00   1.00   1.00   1.00
3      1.00   1.00   1.00   1.00
4      1.00   1.00   1.00   1.00
mean  0.964  0.958  0.938  0.954

# ShuffleNet

In [ ]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=True)

In [ ]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

In [ ]:
#aacuracy
clf_report[1]

# Mnasnet

In [ ]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=True)

In [ ]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

In [ ]:
#aacuracy
clf_report[1]

# MobileNet

In [ ]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=True)

In [ ]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

In [ ]:
#aacuracy
clf_report[1]

# DenseNet121

In [ ]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=True)

In [ ]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

In [ ]:
#aacuracy
clf_report[1]