# load data

In [1]:
from glob import glob
import os
images=[]
labels=[]
for folder in os.listdir('../dataset'):
    for pic in glob('../dataset/{}/*.jpg'.format(folder)):
        images.append(pic)
        labels.append(folder)

In [2]:
import pandas as pd
data=pd.DataFrame(zip(images,labels),columns=['img','label'])
data.label=data.label.map({'Fracture':0,'Normal':1})
data = data.sample(frac=1).reset_index(drop=True)
data.head()

                                        img  label
0     ../dataset/Fracture\39 F (L View).jpg      0
1   ../dataset/Fracture\9 Male (L View).jpg      0
2  ../dataset/Fracture\47 Male (L View).jpg      0
3                  ../dataset/Normal\47.jpg      1
4  ../dataset/Fracture\32 Male (A View).jpg      0

# top 5 lightest models in torchvision
1	squeezenet1_1	1235496  
2	shufflenet_v2_x0_5	1366792  
3	mnasnet0_5	2218512  
4	mobilenet_v2	3504872  
5	densenet121	7978856  `

In [3]:
from models.squeezenet import squeezenet1_1
from models.mymodels import mymodel,mymodel1
from models.shufflenet import shufflenet_v2_x0_5
from models.mnastnet import mnasnet0_5
from models.densenet import densenet121
from models.mobilenet import mobilenet
from cross_vals import kfoldcv

In [4]:
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)/1e6

In [5]:
print('MyNet parameters :' ,count_parameters(mymodel()))
print('SqueezeNet parameters :', count_parameters(squeezenet1_1()))
print('ShuffleNet parameters :', count_parameters(shufflenet_v2_x0_5()))
print('MnastNet parameters :', count_parameters(mnasnet0_5()))
print('MobileNet parameters :', count_parameters(mobilenet()))
print('DenseNet parameters :', count_parameters(densenet121()))

MyNet parameters : 0.774768
SqueezeNet parameters : 0.984
ShuffleNet parameters : 0.86616
MnastNet parameters : 1.593096
MobileNet parameters : 2.879168
DenseNet parameters : 7.472384

# MyNet

In [6]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel1(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=False)

Wall time: 18min 11s

In [7]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      1.000   0.930     0.962
Normal        0.918   1.000     0.954
macro         0.960   0.966     0.958
weighted      0.968   0.958     0.958
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.980   0.956     0.968
Normal        0.944   0.976     0.960
macro         0.962   0.966     0.964
weighted      0.966   0.964     0.964
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.958   0.964     0.962
Normal        0.946   0.942     0.944
macro         0.954   0.952     0.952
weighted      0.956   0.952     0.952
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.988   0.930     0.958
Normal        0.916   0.988     0.948
macro         0.952   0.960     0.954
weighted      0.960   0.954     0.954

In [8]:
#aacuracy
clf_report[1]

         DT    SVM     LR    KNN
0      0.87   0.85   0.79   0.85
1      0.92   0.97   0.97   0.92
2      1.00   1.00   1.00   1.00
3      1.00   1.00   1.00   1.00
4      1.00   1.00   1.00   1.00
mean  0.958  0.964  0.952  0.954

# SqueezeNet

In [9]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=False)

Wall time: 17min 57s

In [10]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.982   0.982     0.982
Normal        0.976   0.976     0.976
macro         0.980   0.980     0.980
weighted      0.980   0.980     0.980
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.972   0.972     0.972
Normal        0.964   0.964     0.964
macro         0.968   0.968     0.968
weighted      0.970   0.970     0.970
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.980   0.972     0.976
Normal        0.966   0.976     0.972
macro         0.974   0.974     0.974
weighted      0.974   0.974     0.974
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.984   0.928     0.950
Normal        0.926   0.972     0.944
macro         0.954   0.950     0.948
weighted      0.958   0.948     0.948

In [11]:
#aacuracy
clf_report[1]

        DT   SVM     LR    KNN
0     0.90  0.85   0.87   0.82
1     1.00  1.00   1.00   0.92
2     1.00  1.00   1.00   1.00
3     1.00  1.00   1.00   1.00
4     1.00  1.00   1.00   1.00
mean  0.98  0.97  0.974  0.948

# ShuffleNet

In [12]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=True)

Wall time: 25min 56s

In [13]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.896   0.812     0.844
Normal        0.780   0.870     0.808
macro         0.838   0.842     0.824
weighted      0.856   0.828     0.828
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.926   0.830     0.870
Normal        0.788   0.904     0.834
macro         0.858   0.866     0.852
weighted      0.872   0.856     0.856
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.928   0.840     0.876
Normal        0.794   0.904     0.838
macro         0.862   0.870     0.856
weighted      0.876   0.860     0.862
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.932   0.812     0.862
Normal        0.772   0.914     0.834
macro         0.852   0.862     0.848
weighted      0.870   0.850     0.850

In [14]:
#aacuracy
clf_report[1]

         DT    SVM    LR   KNN
0      0.82   0.82  0.82  0.82
1      0.79   0.82  0.82  0.82
2      0.69   0.77  0.79  0.74
3      0.87   0.87  0.87  0.87
4      0.97   1.00  1.00  1.00
mean  0.828  0.856  0.86  0.85

# Mnasnet

In [15]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=True)

Wall time: 24min 10s

In [16]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.898   0.878     0.884
Normal        0.810   0.846     0.824
macro         0.854   0.864     0.854
weighted      0.862   0.862     0.858
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.908   0.904     0.904
Normal        0.842   0.858     0.844
macro         0.876   0.882     0.874
weighted      0.882   0.880     0.878
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.902   0.894     0.896
Normal        0.826   0.846     0.830
macro         0.864   0.872     0.864
weighted      0.872   0.870     0.868
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.932   0.868     0.898
Normal        0.852   0.930     0.886
macro         0.892   0.900     0.892
weighted      0.900   0.892     0.892

In [17]:
#aacuracy
clf_report[1]

         DT   SVM    LR    KNN
0      0.49  0.56  0.51   0.62
1      0.90  0.92  0.92   0.92
2      0.92  0.92  0.92   0.92
3      1.00  1.00  1.00   1.00
4      1.00  1.00  1.00   1.00
mean  0.862  0.88  0.87  0.892

# MobileNet

In [18]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=True)

Wall time: 24min 7s

In [19]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.832   0.778     0.806
Normal        0.696   0.768     0.730
macro         0.764   0.772     0.766
weighted      0.782   0.774     0.774
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.860   0.794     0.822
Normal        0.724   0.808     0.762
macro         0.792   0.802     0.792
weighted      0.808   0.798     0.800
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.856   0.818     0.836
Normal        0.748   0.800     0.772
macro         0.802   0.808     0.804
weighted      0.816   0.810     0.810
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.858   0.802     0.828
Normal        0.738   0.808     0.770
macro         0.796   0.806     0.798
weighted      0.810   0.806     0.808

In [20]:
#aacuracy
clf_report[1]

         DT    SVM    LR    KNN
0      0.67   0.74  0.72   0.72
1      0.54   0.67  0.74   0.64
2      0.74   0.69  0.67   0.72
3      0.92   0.89  0.92   0.95
4      1.00   1.00  1.00   1.00
mean  0.774  0.798  0.81  0.806

# DenseNet121

In [21]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=50,batchsize=8,data=data,lr=0.001,skip_tuning=True)

Wall time: 43min 33s

In [22]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.950   0.936     0.942
Normal        0.930   0.938     0.932
macro         0.940   0.936     0.938
weighted      0.942   0.938     0.938
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.962   0.954     0.958
Normal        0.944   0.952     0.948
macro         0.954   0.954     0.954
weighted      0.954   0.954     0.954
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.950   0.972     0.962
Normal        0.960   0.928     0.942
macro         0.956   0.948     0.952
weighted      0.956   0.952     0.952
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.970   0.946     0.958
Normal        0.934   0.964     0.950
macro         0.952   0.956     0.952
weighted      0.956   0.952     0.954

In [23]:
#aacuracy
clf_report[1]

         DT    SVM     LR    KNN
0      0.72   0.77   0.79   0.79
1      0.97   1.00   0.97   0.97
2      1.00   1.00   1.00   1.00
3      1.00   1.00   1.00   1.00
4      1.00   1.00   1.00   1.00
mean  0.938  0.954  0.952  0.952