# load data

In [1]:
from glob import glob
import os
images=[]
labels=[]
for folder in os.listdir('../dataset'):
    for pic in glob('../dataset/{}/*.jpg'.format(folder)):
        images.append(pic)
        labels.append(folder)

In [2]:
import pandas as pd
data=pd.DataFrame(zip(images,labels),columns=['img','label'])
data.label=data.label.map({'Fracture':0,'Normal':1})
data = data.sample(frac=1).reset_index(drop=True)
data.head()

                                        img  label
0  ../dataset/Fracture\32 Male (A View).jpg      0
1  ../dataset/Fracture\37 Male (L View).jpg      0
2                  ../dataset/Normal\49.jpg      1
3     ../dataset/Fracture\94 F (A View).jpg      0
4                  ../dataset/Normal\39.jpg      1

# top 5 lightest models in torchvision
1	squeezenet1_1	1235496  
2	shufflenet_v2_x0_5	1366792  
3	mnasnet0_5	2218512  
4	mobilenet_v2	3504872  
5	densenet121	7978856  `

In [3]:
from models.squeezenet import squeezenet1_1
from models.mymodels import mymodel
from models.shufflenet import shufflenet_v2_x0_5
from models.mnastnet import mnasnet0_5
from models.densenet import densenet121
from models.mobilenet import mobilenet
from cross_vals import kfoldcv

In [4]:
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)/1e6

In [5]:
print('MyNet parameters :' ,count_parameters(mymodel()))
print('SqueezeNet parameters :', count_parameters(squeezenet1_1()))
print('ShuffleNet parameters :', count_parameters(shufflenet_v2_x0_5()))
print('MnastNet parameters :', count_parameters(mnasnet0_5()))
print('MobileNet parameters :', count_parameters(mobilenet()))
print('DenseNet parameters :', count_parameters(densenet121()))

MyNet parameters : 0.774768
SqueezeNet parameters : 0.984
ShuffleNet parameters : 0.86616
MnastNet parameters : 1.593096
MobileNet parameters : 2.879168
DenseNet parameters : 7.472384

# MyNet

In [6]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel(),epochs=50,data=data,skip_tuning=False)

Wall time: 15min 14s

In [7]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.944   0.932     0.936
Normal        0.904   0.928     0.914
macro         0.922   0.928     0.924
weighted      0.930   0.928     0.928
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.960   0.910     0.936
Normal        0.882   0.950     0.916
macro         0.922   0.930     0.926
weighted      0.928   0.926     0.928
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.960   0.920     0.940
Normal        0.894   0.950     0.922
macro         0.928   0.936     0.930
weighted      0.934   0.932     0.932
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.958   0.910     0.934
Normal        0.882   0.950     0.916
macro         0.922   0.932     0.924
weighted      0.928   0.926     0.926

In [8]:
#aacuracy
clf_report[1]

         DT    SVM     LR    KNN
0      0.90   0.90   0.92   0.92
1      0.92   0.92   0.92   0.92
2      0.95   0.92   0.95   0.92
3      0.87   0.89   0.87   0.87
4      1.00   1.00   1.00   1.00
mean  0.928  0.926  0.932  0.926

# SqueezeNet

In [9]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=50,data=data,skip_tuning=False)

Wall time: 15min 25s

In [10]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.972   0.956     0.964
Normal        0.944   0.962     0.952
macro         0.958   0.960     0.958
weighted      0.960   0.958     0.960
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.962   0.956     0.958
Normal        0.944   0.952     0.946
macro         0.952   0.954     0.952
weighted      0.956   0.952     0.954
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.972   0.966     0.968
Normal        0.952   0.962     0.958
macro         0.962   0.964     0.964
weighted      0.964   0.964     0.964
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.980   0.956     0.968
Normal        0.948   0.976     0.960
macro         0.964   0.966     0.964
weighted      0.966   0.964     0.964

In [11]:
#aacuracy
clf_report[1]

         DT    SVM     LR    KNN
0      0.79   0.79   0.82   0.82
1      1.00   0.97   1.00   1.00
2      1.00   1.00   1.00   1.00
3      1.00   1.00   1.00   1.00
4      1.00   1.00   1.00   1.00
mean  0.958  0.952  0.964  0.964

# ShuffleNet

In [12]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=50,data=data,skip_tuning=False)

Wall time: 23min 14s

In [13]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.676   0.774     0.712
Normal        0.614   0.490     0.526
macro         0.642   0.630     0.618
weighted      0.650   0.654     0.636
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.646   0.734     0.682
Normal        0.526   0.438     0.466
macro         0.586   0.588     0.574
weighted      0.602   0.602     0.592
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.666   0.750     0.698
Normal        0.544   0.458     0.486
macro         0.602   0.604     0.594
weighted      0.622   0.624     0.610
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.660   0.774     0.706
Normal        0.572   0.440     0.478
macro         0.614   0.608     0.592
weighted      0.626   0.628     0.604

In [14]:
#aacuracy
clf_report[1]

         DT    SVM     LR    KNN
0      0.67   0.46   0.54   0.54
1      0.49   0.56   0.62   0.54
2      0.59   0.44   0.46   0.56
3      0.84   0.76   0.74   0.79
4      0.68   0.79   0.76   0.71
mean  0.654  0.602  0.624  0.628

# Mnasnet

In [15]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=50,data=data,skip_tuning=False)

Wall time: 21min 56s

In [16]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.646   0.566     0.584
Normal        0.490   0.576     0.512
macro         0.570   0.572     0.548
weighted      0.584   0.556     0.548
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.734   0.708     0.714
Normal        0.590   0.632     0.600
macro         0.660   0.668     0.654
weighted      0.678   0.670     0.664
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.722   0.660     0.680
Normal        0.546   0.622     0.570
macro         0.634   0.642     0.624
weighted      0.652   0.638     0.632
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.658   0.480     0.522
Normal        0.446   0.602     0.494
macro         0.552   0.542     0.512
weighted      0.578   0.524     0.510

In [17]:
#aacuracy
clf_report[1]

         DT   SVM     LR    KNN
0      0.49  0.54   0.56   0.51
1      0.46  0.41   0.33   0.36
2      0.54  0.59   0.59   0.46
3      0.42  0.84   0.79   0.45
4      0.87  0.97   0.92   0.84
mean  0.556  0.67  0.638  0.524

# MobileNet

In [18]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=50,data=data,skip_tuning=False)

Wall time: 21min 35s

In [19]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.652   0.644     0.648
Normal        0.540   0.550     0.542
macro         0.596   0.598     0.594
weighted      0.612   0.602     0.606
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.724   0.738      0.72
Normal        0.632   0.608      0.60
macro         0.676   0.672      0.66
weighted      0.690   0.680      0.67
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.718   0.756     0.726
Normal        0.640   0.584     0.588
macro         0.678   0.668     0.656
weighted      0.690   0.680     0.668
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.682   0.796     0.724
Normal        0.634   0.482     0.516
macro         0.656   0.638     0.624
weighted      0.664   0.658     0.634

In [20]:
#aacuracy
clf_report[1]

         DT   SVM    LR    KNN
0      0.51  0.67  0.67   0.49
1      0.36  0.51  0.51   0.44
2      0.54  0.62  0.62   0.67
3      0.71  0.68  0.68   0.74
4      0.89  0.92  0.92   0.95
mean  0.602  0.68  0.68  0.658

# DenseNet121

In [21]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=50,data=data,skip_tuning=False)

Wall time: 40min 38s

In [22]:
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])

------------------ Decision Tree ----------------
          precision  recall  f1-score
Fracture      0.958   0.906     0.928
Normal        0.894   0.938     0.914
macro         0.926   0.922     0.920
weighted      0.930   0.922     0.922
------------------ SVM ----------------
          precision  recall  f1-score
Fracture      0.954   0.934     0.944
Normal        0.920   0.940     0.928
macro         0.938   0.938     0.936
weighted      0.940   0.938     0.938
------------------ logistic regression ----------------
          precision  recall  f1-score
Fracture      0.974   0.942     0.956
Normal        0.938   0.960     0.948
macro         0.954   0.950     0.950
weighted      0.956   0.952     0.952
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Fracture      0.962   0.922     0.938
Normal        0.920   0.952     0.934
macro         0.940   0.936     0.936
weighted      0.942   0.938     0.936

In [23]:
#aacuracy
clf_report[1]

         DT    SVM     LR    KNN
0      0.77   0.82   0.90   0.87
1      0.87   0.90   0.92   0.85
2      0.97   0.97   0.97   0.97
3      1.00   1.00   0.97   1.00
4      1.00   1.00   1.00   1.00
mean  0.922  0.938  0.952  0.938