# load data

In [1]:
from glob import glob
import os
images=[]
labels=[]
for folder in os.listdir('../dataset/wrist_xray'):
    for pic in glob('../dataset/wrist_xray/{}/*.jpg'.format(folder)):
        images.append(pic)
        labels.append(folder)

In [2]:
import pandas as pd
data=pd.DataFrame(zip(images,labels),columns=['img','label'])
data.label=data.label.map({'Fracture':0,'Normal':1})
data = data.sample(frac=1).reset_index(drop=True)
data.head()

                                                img  label
0  ../dataset/wrist_xray/Fracture\86 F (A View).jpg      0
1  ../dataset/wrist_xray/Fracture\94 F (A View).jpg      0
2               ../dataset/wrist_xray/Normal\48.jpg      1
3  ../dataset/wrist_xray/Fracture\64 M (L View).jpg      0
4               ../dataset/wrist_xray/Normal\22.jpg      1

# top 5 lightest models in torchvision
1	squeezenet1_1	1235496  
2	shufflenet_v2_x0_5	1366792  
3	mnasnet0_5	2218512  
4	mobilenet_v2	3504872  
5	densenet121	7978856  `

In [3]:
import sys
sys.path.append("../src")

In [4]:
from models.squeezenet import squeezenet1_1
from models.mymodels import mymodel4
from models.shufflenet import shufflenet_v2_x0_5
from models.mnastnet import mnasnet0_5
from models.densenet import densenet121
from models.mobilenet import mobilenet
from cross_vals import kfoldcv

In [5]:
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)/1e6

In [6]:
print('MyNet parameters :' ,count_parameters(mymodel4()))
print('SqueezeNet parameters :', count_parameters(squeezenet1_1()))
print('ShuffleNet parameters :', count_parameters(shufflenet_v2_x0_5()))
print('MnastNet parameters :', count_parameters(mnasnet0_5()))
print('MobileNet parameters :', count_parameters(mobilenet()))
print('DenseNet parameters :', count_parameters(densenet121()))

MyNet parameters : 0.573808
SqueezeNet parameters : 0.984
ShuffleNet parameters : 0.86616
MnastNet parameters : 1.593096
MobileNet parameters : 2.879168
DenseNet parameters : 7.472384

In [7]:
epoch=32
batchsize=8
lr=0.001

dim='3D' or '2D' for 3D images and 2D iamges
skip_tuning=False, no grid search applied for hyper-parameter tuning, 
aug=1-> pytorch augmentation
aug=0-> no augmentation
aug=2-> albumentation augmentation
aug=3-> rand augmentation

# MyNet

In [8]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel4(),epochs=epoch,batchsize=batchsize,data=data,\
                            lr=0.001,skip_tuning=False,aug=1,dim='2D',pca=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.880   0.830     0.852
Class 1       0.808   0.860     0.830
macro         0.844   0.844     0.840
weighted      0.852   0.844     0.844
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.870   0.844     0.852
Class 1       0.810   0.844     0.818
macro         0.838   0.844     0.834
weighted      0.852   0.838     0.838
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.870   0.912     0.890
Class 1       0.894   0.840     0.866
macro         0.880   0.874     0.876
weighted      0.884   0.880     0.880
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.868   0.836     0.846
Class 1       0.812   0.844     0.818
macro         0.836   0.838     0.830
weighted      0.852   0.832     0.834
--------------------------Accuracy Table-----------------------------------
Wall time: 12min 5s

         DT    SVM    LR    KNN
0      0.82   0.82  0.87   0.79
1      0.97   0.95  0.97   0.97
2      0.85   0.79  0.79   0.79
3      0.76   0.79  0.82   0.79
4      0.82   0.84  0.95   0.82
mean  0.844  0.838  0.88  0.832

In [9]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel4(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=0)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.694   0.662     0.654
Class 1       0.550   0.576     0.540
macro         0.622   0.618     0.598
weighted      0.646   0.612     0.608
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.750   0.798     0.770
Class 1       0.710   0.662     0.682
macro         0.732   0.730     0.726
weighted      0.744   0.738     0.734
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.796   0.826     0.806
Class 1       0.750   0.722     0.730
macro         0.772   0.776     0.766
weighted      0.786   0.778     0.776
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.714   0.704     0.696
Class 1       0.634   0.642     0.624
macro         0.674   0.674     0.658
weighted      0.696   0.670     0.668
--------------------------Accuracy Table-----------------------------------
Wall time: 11min 54s

         DT    SVM     LR   KNN
0      0.49   0.72   0.74  0.54
1      0.79   0.85   0.85  0.85
2      0.54   0.67   0.77  0.67
3      0.61   0.66   0.66  0.61
4      0.63   0.79   0.87  0.68
mean  0.612  0.738  0.778  0.67

# SqueezeNet

In [10]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=1)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.630   0.580     0.600
Class 1       0.448   0.504     0.470
macro         0.540   0.542     0.536
weighted      0.568   0.554     0.556
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.658   0.652     0.640
Class 1       0.524   0.528     0.506
macro         0.590   0.590     0.570
weighted      0.616   0.584     0.582
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.660   0.660     0.644
Class 1       0.518   0.522     0.498
macro         0.590   0.592     0.570
weighted      0.610   0.584     0.580
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.656   0.718     0.668
Class 1       0.534   0.456     0.462
macro         0.596   0.586     0.564
weighted      0.618   0.594     0.580
--------------------------Accuracy Table-----------------------------------
Wall time: 12min 38s

         DT    SVM     LR    KNN
0      0.82   0.79   0.87   0.79
1      0.51   0.56   0.46   0.56
2      0.49   0.62   0.64   0.46
3      0.53   0.50   0.42   0.55
4      0.42   0.45   0.53   0.61
mean  0.554  0.584  0.584  0.594

In [11]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=0)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.590   0.656     0.614
Class 1       0.424   0.358     0.378
macro         0.506   0.506     0.496
weighted      0.536   0.530     0.524
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.576   0.690     0.626
Class 1       0.462   0.324     0.376
macro         0.520   0.508     0.502
weighted      0.544   0.538     0.528
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.584   0.664     0.618
Class 1       0.506   0.388     0.424
macro         0.548   0.528     0.524
weighted      0.570   0.548     0.546
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.540   0.564     0.550
Class 1       0.372   0.344     0.354
macro         0.456   0.454     0.452
weighted      0.482   0.472     0.470
--------------------------Accuracy Table-----------------------------------
Wall time: 12min 41s

        DT    SVM     LR    KNN
0     0.44   0.51   0.51   0.38
1     0.46   0.54   0.59   0.44
2     0.59   0.69   0.72   0.54
3     0.53   0.34   0.37   0.50
4     0.63   0.61   0.55   0.50
mean  0.53  0.538  0.548  0.472

# ShuffleNet

In [12]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=1)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.694   0.604     0.640
Class 1       0.560   0.644     0.590
macro         0.626   0.626     0.614
weighted      0.646   0.630     0.630
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.718   0.736     0.718
Class 1       0.636   0.614     0.610
macro         0.676   0.672     0.662
weighted      0.698   0.674     0.672
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.722   0.758     0.728
Class 1       0.632   0.590     0.600
macro         0.674   0.674     0.664
weighted      0.698   0.682     0.676
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.662   0.676     0.658
Class 1       0.562   0.538     0.530
macro         0.610   0.606     0.594
weighted      0.632   0.610     0.610
--------------------------Accuracy Table-----------------------------------
Wall time: 19min 6s

        DT    SVM     LR   KNN
0     0.51   0.59   0.62  0.56
1     0.69   0.69   0.67  0.69
2     0.51   0.54   0.62  0.46
3     0.76   0.76   0.76  0.63
4     0.68   0.79   0.74  0.71
mean  0.63  0.674  0.682  0.61

In [13]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=0)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.628   0.560     0.588
Class 1       0.488   0.562     0.518
macro         0.556   0.558     0.554
weighted      0.580   0.566     0.568
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.618   0.724     0.650
Class 1       0.480   0.374     0.390
macro         0.552   0.548     0.520
weighted      0.574   0.558     0.538
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.602   0.752     0.658
Class 1       0.538   0.322     0.368
macro         0.568   0.538     0.514
weighted      0.596   0.562     0.536
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.624   0.608     0.596
Class 1       0.446   0.480     0.432
macro         0.534   0.544     0.512
weighted      0.560   0.534     0.518
--------------------------Accuracy Table-----------------------------------
Wall time: 18min 35s

         DT    SVM     LR    KNN
0      0.46   0.51   0.44   0.49
1      0.67   0.64   0.62   0.59
2      0.62   0.51   0.56   0.56
3      0.47   0.58   0.58   0.45
4      0.61   0.55   0.61   0.58
mean  0.566  0.558  0.562  0.534

# Mnasnet

In [14]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=1)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.738   0.828     0.772
Class 1       0.730   0.610     0.648
macro         0.734   0.718     0.708
weighted      0.750   0.726     0.720
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.762   0.816     0.786
Class 1       0.738   0.670     0.696
macro         0.748   0.744     0.740
weighted      0.762   0.750     0.750
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.738   0.828     0.776
Class 1       0.712   0.602     0.646
macro         0.724   0.716     0.712
weighted      0.738   0.730     0.726
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.720   0.810     0.760
Class 1       0.702   0.572     0.618
macro         0.710   0.692     0.686
weighted      0.724   0.708     0.706
--------------------------Accuracy Table-----------------------------------
Wall time: 17min

         DT   SVM    LR    KNN
0      0.64  0.72  0.59   0.56
1      0.74  0.79  0.79   0.74
2      0.67  0.64  0.67   0.64
3      0.74  0.76  0.76   0.76
4      0.84  0.84  0.84   0.84
mean  0.726  0.75  0.73  0.708

In [15]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=0)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.600   0.722     0.650
Class 1       0.458   0.350     0.384
macro         0.530   0.536     0.518
weighted      0.552   0.558     0.538
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.634   0.686     0.650
Class 1       0.548   0.470     0.490
macro         0.590   0.578     0.568
weighted      0.610   0.590     0.586
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.624   0.646     0.628
Class 1       0.500   0.476     0.478
macro         0.564   0.564     0.552
weighted      0.584   0.572     0.568
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.592   0.580     0.580
Class 1       0.476   0.476     0.464
macro         0.534   0.530     0.524
weighted      0.556   0.536     0.538
--------------------------Accuracy Table-----------------------------------
Wall time: 18min 4s

         DT   SVM     LR    KNN
0      0.49  0.56   0.49   0.54
1      0.62  0.56   0.59   0.56
2      0.49  0.67   0.54   0.64
3      0.45  0.45   0.63   0.39
4      0.74  0.71   0.61   0.55
mean  0.558  0.59  0.572  0.536

# MobileNet

In [16]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=1)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.864   0.718     0.780
Class 1       0.676   0.824     0.740
macro         0.770   0.774     0.758
weighted      0.790   0.768     0.768
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.846   0.744     0.788
Class 1       0.698   0.806     0.742
macro         0.772   0.776     0.766
weighted      0.792   0.774     0.774
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.844   0.784     0.810
Class 1       0.720   0.778     0.742
macro         0.782   0.782     0.778
weighted      0.796   0.788     0.790
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.830   0.732     0.772
Class 1       0.678   0.772     0.716
macro         0.756   0.748     0.742
weighted      0.772   0.760     0.756
--------------------------Accuracy Table-----------------------------------
Wall time: 19min 15s

         DT    SVM     LR   KNN
0      0.54   0.59   0.64  0.54
1      0.82   0.77   0.74  0.72
2      0.82   0.90   0.87  0.85
3      0.79   0.79   0.82  0.82
4      0.87   0.82   0.87  0.87
mean  0.768  0.774  0.788  0.76

In [17]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=0)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.678   0.704     0.684
Class 1       0.560   0.534     0.532
macro         0.618   0.620     0.608
weighted      0.640   0.628     0.622
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.666   0.728     0.682
Class 1       0.582   0.512     0.522
macro         0.624   0.618     0.604
weighted      0.642   0.620     0.614
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.676   0.772     0.716
Class 1       0.614   0.508     0.550
macro         0.646   0.642     0.632
weighted      0.660   0.652     0.646
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.624   0.590     0.602
Class 1       0.454   0.502     0.470
macro         0.540   0.544     0.536
weighted      0.568   0.548     0.552
--------------------------Accuracy Table-----------------------------------
Wall time: 16min 49s

         DT   SVM     LR    KNN
0      0.67  0.56   0.54   0.41
1      0.62  0.74   0.82   0.69
2      0.51  0.51   0.51   0.54
3      0.68  0.63   0.63   0.63
4      0.66  0.66   0.76   0.47
mean  0.628  0.62  0.652  0.548

# DenseNet121

In [18]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=1)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.824   0.712     0.754
Class 1       0.666   0.800     0.714
macro         0.744   0.754     0.734
weighted      0.770   0.734     0.736
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.836   0.772     0.798
Class 1       0.710   0.784     0.740
macro         0.772   0.778     0.770
weighted      0.788   0.778     0.776
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.818   0.782     0.794
Class 1       0.716   0.752     0.726
macro         0.768   0.768     0.762
weighted      0.784   0.772     0.774
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.768   0.696     0.724
Class 1       0.632   0.720     0.660
macro         0.702   0.708     0.692
weighted      0.722   0.698     0.702
--------------------------Accuracy Table-----------------------------------
Wall time: 38min 2s

         DT    SVM     LR    KNN
0      0.79   0.77   0.82   0.79
1      0.64   0.72   0.64   0.56
2      0.74   0.85   0.85   0.74
3      0.66   0.63   0.68   0.58
4      0.84   0.92   0.87   0.82
mean  0.734  0.778  0.772  0.698

In [ ]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=0)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]