# load data

In [1]:
from glob import glob
import os
images=[]
labels=[]
for folder in os.listdir('../dataset/wrist_xray'):
    for pic in glob('../dataset/wrist_xray/{}/*.jpg'.format(folder)):
        images.append(pic)
        labels.append(folder)

In [2]:
import pandas as pd
data=pd.DataFrame(zip(images,labels),columns=['img','label'])
data.label=data.label.map({'Fracture':0,'Normal':1})
data = data.sample(frac=1).reset_index(drop=True)
data.head()

                                                 img  label
0                ../dataset/wrist_xray/Normal\61.jpg      1
1                ../dataset/wrist_xray/Normal\49.jpg      1
2  ../dataset/wrist_xray/Fracture\54 Male (A View...      0
3                ../dataset/wrist_xray/Normal\48.jpg      1
4                 ../dataset/wrist_xray/Normal\8.jpg      1

# top 5 lightest models in torchvision
1	squeezenet1_1	1235496  
2	shufflenet_v2_x0_5	1366792  
3	mnasnet0_5	2218512  
4	mobilenet_v2	3504872  
5	densenet121	7978856  `

In [3]:
import sys
sys.path.append("../src")

In [4]:
from models.squeezenet import squeezenet1_1
from models.mymodels import mymodel4
from models.shufflenet import shufflenet_v2_x0_5
from models.mnastnet import mnasnet0_5
from models.densenet import densenet121
from models.mobilenet import mobilenet
from cross_vals import kfoldcv

In [5]:
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)/1e6

In [6]:
print('MyNet parameters :' ,count_parameters(mymodel4()))
print('SqueezeNet parameters :', count_parameters(squeezenet1_1()))
print('ShuffleNet parameters :', count_parameters(shufflenet_v2_x0_5()))
print('MnastNet parameters :', count_parameters(mnasnet0_5()))
print('MobileNet parameters :', count_parameters(mobilenet()))
print('DenseNet parameters :', count_parameters(densenet121()))

MyNet parameters : 0.774768
SqueezeNet parameters : 0.984
ShuffleNet parameters : 0.86616
MnastNet parameters : 1.593096
MobileNet parameters : 2.879168
DenseNet parameters : 7.472384

In [7]:
epoch=16
batchsize=8
lr=0.001

# MyNet

In [8]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel4(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.890   0.804     0.840
Class 1       0.766   0.874     0.814
macro         0.828   0.836     0.826
weighted      0.838   0.826     0.828
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.900   0.836     0.866
Class 1       0.806   0.880     0.840
macro         0.852   0.856     0.856
weighted      0.860   0.856     0.856
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.880   0.874     0.876
Class 1       0.834   0.846     0.836
macro         0.858   0.858     0.858
weighted      0.862   0.862     0.862
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.884   0.830     0.854
Class 1       0.794   0.856     0.820
macro         0.840   0.842     0.838
weighted      0.846   0.840     0.840
--------------------------Accuracy Table-----------------------------------
Wall time: 7min 32s

         DT    SVM     LR   KNN
0      0.79   0.85   0.85  0.82
1      0.87   0.82   0.82  0.79
2      0.87   0.90   0.90  0.85
3      0.76   0.79   0.82  0.82
4      0.84   0.92   0.92  0.92
mean  0.826  0.856  0.862  0.84

In [9]:
%%time
train_cv,clf_report=kfoldcv(model=mymodel4(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.672   0.656     0.658
Class 1       0.532   0.552     0.538
macro         0.602   0.602     0.598
weighted      0.616   0.616     0.612
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.840   0.820     0.828
Class 1       0.766   0.794     0.780
macro         0.802   0.806     0.804
weighted      0.812   0.808     0.810
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.858   0.820     0.836
Class 1       0.774   0.814     0.792
macro         0.816   0.818     0.814
weighted      0.824   0.818     0.820
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.760   0.722     0.736
Class 1       0.610   0.652     0.622
macro         0.682   0.686     0.678
weighted      0.700   0.694     0.690
--------------------------Accuracy Table-----------------------------------
Wall time: 7min 20s

         DT    SVM     LR    KNN
0      0.56   0.85   0.85   0.67
1      0.62   0.82   0.79   0.69
2      0.74   0.85   0.87   0.85
3      0.61   0.76   0.84   0.71
4      0.55   0.76   0.74   0.55
mean  0.616  0.808  0.818  0.694

# SqueezeNet

In [10]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.714   0.768     0.732
Class 1       0.616   0.548     0.568
macro         0.668   0.656     0.652
weighted      0.678   0.672     0.664
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.702   0.766     0.728
Class 1       0.678   0.544     0.576
macro         0.690   0.654     0.650
weighted      0.694   0.672     0.662
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.720   0.748     0.728
Class 1       0.636   0.592     0.598
macro         0.678   0.668     0.662
weighted      0.688   0.676     0.672
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.696   0.776     0.726
Class 1       0.646   0.524     0.560
macro         0.670   0.648     0.644
weighted      0.676   0.672     0.660
--------------------------Accuracy Table-----------------------------------
Wall time: 7min 36s

         DT    SVM     LR    KNN
0      0.87   0.90   0.92   0.87
1      0.69   0.59   0.64   0.69
2      0.62   0.72   0.69   0.72
3      0.63   0.68   0.58   0.50
4      0.55   0.47   0.55   0.58
mean  0.672  0.672  0.676  0.672

In [11]:
%%time
train_cv,clf_report=kfoldcv(model=squeezenet1_1(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.604   0.688     0.638
Class 1       0.508   0.406     0.438
macro         0.554   0.546     0.538
weighted      0.564   0.562     0.554
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.658   0.698     0.668
Class 1       0.576   0.500     0.510
macro         0.620   0.600     0.590
weighted      0.628   0.610     0.602
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.654   0.722     0.680
Class 1       0.590   0.482     0.514
macro         0.620   0.602     0.598
weighted      0.630   0.620     0.612
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.636   0.640     0.634
Class 1       0.482   0.488     0.480
macro         0.560   0.562     0.556
weighted      0.574   0.574     0.572
--------------------------Accuracy Table-----------------------------------
Wall time: 7min 40s

         DT   SVM    LR    KNN
0      0.79  0.79  0.77   0.74
1      0.62  0.54  0.56   0.51
2      0.56  0.67  0.64   0.62
3      0.50  0.63  0.66   0.50
4      0.34  0.42  0.47   0.50
mean  0.562  0.61  0.62  0.574

# ShuffleNet

In [12]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.590   0.568     0.570
Class 1       0.448   0.472     0.454
macro         0.522   0.520     0.512
weighted      0.534   0.522     0.522
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.592   0.672     0.622
Class 1       0.438   0.368     0.390
macro         0.514   0.518     0.506
weighted      0.532   0.540     0.524
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.608   0.682     0.630
Class 1       0.468   0.396     0.414
macro         0.540   0.538     0.524
weighted      0.554   0.554     0.542
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.594   0.732     0.654
Class 1       0.474   0.326     0.382
macro         0.534   0.528     0.520
weighted      0.548   0.560     0.540
--------------------------Accuracy Table-----------------------------------
Wall time: 11min 15s

         DT   SVM     LR   KNN
0      0.46  0.62   0.62  0.54
1      0.59  0.49   0.51  0.54
2      0.38  0.56   0.56  0.59
3      0.68  0.53   0.53  0.58
4      0.50  0.50   0.55  0.55
mean  0.522  0.54  0.554  0.56

In [13]:
%%time
train_cv,clf_report=kfoldcv(model=shufflenet_v2_x0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.574   0.564     0.570
Class 1       0.438   0.448     0.442
macro         0.510   0.508     0.508
weighted      0.522   0.518     0.520
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.590   0.672     0.620
Class 1       0.432   0.360     0.374
macro         0.512   0.516     0.498
weighted      0.526   0.534     0.516
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.594   0.694     0.636
Class 1       0.456   0.354     0.390
macro         0.526   0.522     0.516
weighted      0.540   0.546     0.532
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.626   0.622     0.620
Class 1       0.464   0.480     0.464
macro         0.546   0.550     0.540
weighted      0.562   0.560     0.554
--------------------------Accuracy Table-----------------------------------
Wall time: 10min 25s

         DT    SVM     LR   KNN
0      0.64   0.54   0.56  0.56
1      0.44   0.67   0.69  0.62
2      0.62   0.49   0.56  0.49
3      0.47   0.47   0.47  0.50
4      0.42   0.50   0.45  0.63
mean  0.518  0.534  0.546  0.56

# Mnasnet

In [14]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.726   0.644     0.678
Class 1       0.574   0.648     0.602
macro         0.648   0.646     0.640
weighted      0.662   0.650     0.648
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.828   0.750     0.780
Class 1       0.674   0.752     0.700
macro         0.752   0.752     0.742
weighted      0.764   0.752     0.748
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.806   0.768     0.784
Class 1       0.674   0.714     0.688
macro         0.740   0.738     0.734
weighted      0.750   0.744     0.744
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.800   0.674     0.730
Class 1       0.630   0.762     0.686
macro         0.716   0.716     0.706
weighted      0.730   0.708     0.712
--------------------------Accuracy Table-----------------------------------
Wall time: 10min 30s

        DT    SVM     LR    KNN
0     0.54   0.59   0.64   0.51
1     0.54   0.54   0.56   0.69
2     0.67   0.92   0.87   0.69
3     0.87   0.89   0.89   0.89
4     0.63   0.82   0.76   0.76
mean  0.65  0.752  0.744  0.708

In [15]:
%%time
train_cv,clf_report=kfoldcv(model=mnasnet0_5(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.622   0.682     0.640
Class 1       0.528   0.438     0.466
macro         0.576   0.562     0.556
weighted      0.586   0.578     0.568
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.582   0.648     0.602
Class 1       0.460   0.372     0.390
macro         0.520   0.510     0.496
weighted      0.536   0.524     0.510
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.564   0.608     0.578
Class 1       0.412   0.370     0.376
macro         0.490   0.490     0.478
weighted      0.506   0.502     0.490
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.572   0.726     0.634
Class 1       0.444   0.276     0.312
macro         0.506   0.500     0.472
weighted      0.520   0.534     0.500
--------------------------Accuracy Table-----------------------------------
Wall time: 10min 14s

         DT    SVM     LR    KNN
0      0.62   0.54   0.56   0.59
1      0.44   0.54   0.54   0.62
2      0.64   0.46   0.41   0.59
3      0.66   0.58   0.50   0.37
4      0.53   0.50   0.50   0.50
mean  0.578  0.524  0.502  0.534

# MobileNet

In [16]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.714   0.588     0.624
Class 1       0.546   0.644     0.574
macro         0.632   0.618     0.600
weighted      0.644   0.612     0.604
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.766   0.744     0.740
Class 1       0.654   0.656     0.642
macro         0.708   0.698     0.692
weighted      0.720   0.704     0.700
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.770   0.828     0.794
Class 1       0.754   0.658     0.696
macro         0.760   0.742     0.744
weighted      0.762   0.756     0.754
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.684   0.802     0.718
Class 1       0.684   0.476     0.530
macro         0.680   0.640     0.624
weighted      0.680   0.660     0.636
--------------------------Accuracy Table-----------------------------------
Wall time: 10min 57s

         DT    SVM     LR   KNN
0      0.69   0.72   0.74  0.62
1      0.62   0.74   0.77  0.74
2      0.46   0.56   0.64  0.67
3      0.66   0.76   0.76  0.45
4      0.63   0.74   0.87  0.82
mean  0.612  0.704  0.756  0.66

In [17]:
%%time
train_cv,clf_report=kfoldcv(model=mobilenet(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.590   0.560     0.572
Class 1       0.466   0.488     0.466
macro         0.526   0.524     0.522
weighted      0.538   0.534     0.532
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.590   0.598     0.588
Class 1       0.452   0.440     0.438
macro         0.522   0.520     0.514
weighted      0.534   0.528     0.524
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.612   0.666     0.638
Class 1       0.490   0.424     0.450
macro         0.548   0.546     0.542
weighted      0.560   0.566     0.560
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.582   0.586     0.580
Class 1       0.428   0.428     0.424
macro         0.502   0.504     0.502
weighted      0.518   0.518     0.516
--------------------------Accuracy Table-----------------------------------
Wall time: 11min 5s

         DT    SVM     LR    KNN
0      0.62   0.49   0.62   0.56
1      0.59   0.41   0.41   0.46
2      0.49   0.56   0.64   0.49
3      0.47   0.55   0.55   0.47
4      0.50   0.63   0.61   0.61
mean  0.534  0.528  0.566  0.518

# DenseNet121

In [18]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=True)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.694   0.652     0.656
Class 1       0.580   0.594     0.552
macro         0.640   0.622     0.604
weighted      0.656   0.616     0.608
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.808   0.810     0.796
Class 1       0.734   0.714     0.704
macro         0.772   0.762     0.748
weighted      0.784   0.760     0.756
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.788   0.768     0.772
Class 1       0.684   0.702     0.680
macro         0.736   0.732     0.726
weighted      0.746   0.734     0.734
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.780   0.654     0.702
Class 1       0.624   0.756     0.680
macro         0.700   0.706     0.692
weighted      0.718   0.696     0.696
--------------------------Accuracy Table-----------------------------------
Wall time: 18min 48s

         DT   SVM     LR    KNN
0      0.69  0.82   0.82   0.82
1      0.54  0.77   0.72   0.62
2      0.69  0.79   0.79   0.62
3      0.63  0.74   0.68   0.74
4      0.53  0.68   0.66   0.68
mean  0.616  0.76  0.734  0.696

In [19]:
%%time
train_cv,clf_report=kfoldcv(model=densenet121(),epochs=epoch,batchsize=batchsize,data=data,lr=0.001,skip_tuning=False,aug=False)
for clf in ['Decision Tree','SVM',"logistic regression",'K Nearest neighbors']:
    print('------------------',clf,'----------------')
    print(clf_report[0][clf][0])
    
print('--------------------------Accuracy Table-----------------------------------')
clf_report[1]

------------------ Decision Tree ----------------
          precision  recall  f1-score
Class 0       0.670   0.700     0.678
Class 1       0.558   0.522     0.524
macro         0.612   0.608     0.600
weighted      0.626   0.618     0.608
------------------ SVM ----------------
          precision  recall  f1-score
Class 0       0.776   0.766     0.766
Class 1       0.692   0.694     0.684
macro         0.734   0.730     0.726
weighted      0.744   0.736     0.734
------------------ logistic regression ----------------
          precision  recall  f1-score
Class 0       0.806   0.766     0.784
Class 1       0.704   0.744     0.722
macro         0.754   0.756     0.752
weighted      0.764   0.756     0.756
------------------ K Nearest neighbors ----------------
          precision  recall  f1-score
Class 0       0.724   0.676     0.692
Class 1       0.580   0.626     0.596
macro         0.652   0.650     0.642
weighted      0.666   0.652     0.648
--------------------------Accuracy Table-----------------------------------
Wall time: 18min 46s

         DT    SVM     LR    KNN
0      0.54   0.77   0.77   0.69
1      0.72   0.72   0.72   0.67
2      0.64   0.85   0.79   0.74
3      0.58   0.71   0.74   0.58
4      0.61   0.63   0.76   0.58
mean  0.618  0.736  0.756  0.652